<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Offer"></div>

<sly data-sly-use.offer="offer.js">

	<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='lc.component.offer'}" data-sly-unwrap/>
	
	<div class="offer">
		<a href="${offer.linkUrl}">
			<div class="offer-image">
				<img class="${offer.topicId}" src="${offer.imageUrl @ context='unsafe'}"/>
			</div>
		</a>
	</div>
</sly>
