<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Carousel">
</div>
<!--/* Slider main container */-->
<div data-sly-use.slideData="carousel2.js" class="swiper-container simple-carousel carousel ${slideData.UID @ context = 'unsafe'}">
    <!--/* Additional required wrapper */-->
    <div class="swiper-wrapper">
        <!--/* Slides */-->
        <sly data-sly-list.slide="${slideData.carouselList}">
            <div class="swiper-slide">
                <!--/* Slide */-->
                <a href="${slide.bannerLink}" x-cq-linkchecker="skip">
                    <div class="carousel__slide">
                        <img src="${slide.bannerURL @ context='unsafe'}" x-cq-linkchecker="skip" />
                    </div>
                </a>
                <!--/* /Slide */-->
            </div>
        </sly>
    </div>

    <!--/* If we need pagination */-->
    <div class="swiper-pagination ${slideData.themeColor} ${slideData.paginationEnabled}"></div>

    <!--/* If we need navigation buttons */-->
    <div class="swiper-button-prev ${slideData.UID }-prev arrow-wrapper ${slideData.arrowsEnabled}">
        <div class="arrow-icon prev ${slideData.themeColor}"></div>
    </div>
    <div class="swiper-button-next ${slideData.UID }-next arrow-wrapper ${slideData.arrowsEnabled}">
        <div class="arrow-icon next ${slideData.themeColor}">

        </div>
    </div>
    <script>
        // initiate the swiper plugin for carousel
        $(document).ready(function() {
            var ${slideData.UID @ context = 'scriptToken'} = new Swiper(${slideData.UIDclass @ context = 'scriptToken'}, {
                // Optional parameters
                loop: true,
                speed: ${slideData.transitionSpeed @ context = 'scriptToken'},
                autoplay: ${slideData.slideDuration @ context = 'scriptToken'},
                touchEventsTarget: 'carousel__slide',
                autoHeight: true,
                simulateTouch: true,
                breakpoints: {
                    // when window width is <= 1200px
                    1200: {
                        slidesPerView: 1,
                        spaceBetween: 10,
                        touchEventsTarget: 'container',
                        noSwiping: false,
                    },
                    767: {
                        spaceBetween: 10,
                        slidesPerView: '1.2',
                        centeredSlides: false,
                    }
                },

                // If we need pagination
                pagination: '.swiper-pagination',

                // Navigation arrows
                nextButton: ${slideData.UIDbuttonClassNext @ context = 'unsafe'},
                prevButton: ${slideData.UIDbuttonClassPrev @ context = 'unsafe'}

            });

            if ($(window).width() < 768) {
                ${slideData.UID @ context = 'scriptToken'}.stopAutoplay();
                ${slideData.UID @ context = 'scriptToken'}.enableTouchControl();
            } else if ($(window).width() <= 768) {
                ${slideData.UID @ context = 'scriptToken'}.enableTouchControl();
            }
            $(${slideData.UIDclass @ context = 'scriptToken'}).hover(function() {
                ${slideData.UID @ context = 'scriptToken'}.stopAutoplay();
            }) 
            $(${slideData.UIDclass @ context = 'scriptToken'}).click(function() {
                ${slideData.UID @ context = 'scriptToken'}.stopAutoplay();
            })
        });
    </script>
</div>