.carousel2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel2 img {
    width: 100%;
}

div#aem-placeholder {
    max-width: 60vw;
}

@media (max-width: 1280px) {
    div#aem-placeholder {
        max-width: 80vw;
    }
}

@media (max-width: 768px) {
    div#aem-placeholder {
        max-width: 100vw;
    }
}

.carousel2 .arrow-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 35px;
    height: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 100%;
    background-color: hsla(0, 0%, 100%, .6);
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    cursor: pointer;
    background-image: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.carousel2:hover .arrow-wrapper.show-arrows {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.carousel2 .arrow-icon {
    width: 8px;
    height: 8px;
    border-color: #fff;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}

.carousel2 .arrow-icon.prev {
    margin-top: 1px;
    margin-right: -2px;
    border-color: #fff;
    border-top-width: 2px;
    border-right-width: 2px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    transition: all 0.3s ease-in-out;
}

.carousel2 .arrow-icon.prev:hover {
    margin-right: 8px;
}

.carousel2 .arrow-icon.next {
    margin-top: 1px;
    margin-left: -2px;
    border-color: #fff;
    border-top-style: none;
    border-right-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
}

.carousel2 .arrow-icon.next:hover {
    margin-left: 8px;
}

.carousel2 .arrow-icon.ladbrokes {
    border-color: #e82d1a;
}

.carousel2 .arrow-icon.coral {
    border-color: #65ca00;
}

.carousel2 .arrow-icon.black {
    border-color: #000;
}

.carousel2 .arrow-icon.white {
    border-color: #fff;
}

.carousel2 .swiper-pagination-bullet-active {
    background-color: #fff;
}

.carousel2 .ladbrokes .swiper-pagination-bullet-active {
    background-color: #e82d1a;
}

.carousel2 .coral .swiper-pagination-bullet-active {
    background-color: #65ca00;
}

.carousel2 .swiper-pagination-bullet {
    opacity: 0.6
}

.carousel2 .swiper-pagination-bullet-active {
    opacity: 1
}

.carousel2 .bullets-wrapper {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

.carousel2 .swiper-pagination {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.carousel2:hover .swiper-pagination.show-pagination {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}