.dynamiccarousel {
	width: 100%;
	margin-left: auto;
	margin-right:auto;

}
.dynamiccarousel img {
	width: 100%;
}

div#aem-placeholder {
	max-width: 60vw;
}

@media (max-width: 1280px){
	div#aem-placeholder {
		max-width: 80vw;
	}
}

@media (max-width: 768px){
	div#aem-placeholder {
		max-width: 100vw;
	}
}
