<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Dynamic Carousel"></div>

<script type="text/javascript" src="http://developer.reappt.io/clients/js/diffusion.js"></script>

<!--/* Slider main container */-->
<div data-sly-use.slideData="dynamiccarousel.js" class="swiper-container dynamic-carousel carousel">

    <!--/* Additional required wrapper */-->
    <div class="swiper-wrapper">
        <!--/* Slides */-->
        <sly data-sly-list.slide="${slideData.carouselList}">
            <div class="topic" data-topic-id="${slide.topicId}"></div>
            <div class="swiper-slide">
                <!--/* Slide */-->
                <a href="${slide.bannerLink}">
                    <div class="carousel__slide">
                        <img class="${slide.topicId}" src="${slide.bannerURL @ context='unsafe'}" />
                    </div>
                </a>
                <!--/* /Slide */-->
            </div>
        </sly>
    </div>

    <!--/* If we need pagination */-->
    <div class="swiper-pagination"></div>

    <!--/* If we need navigation buttons */-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>