/*
 *  Copyright 2015 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

.page__main {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 1em 1em;
    background-color: #fff;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 9px 1px -moz-rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,.2);
    zoom: 100%;
}
@media (max-width: 480px) {
	.page__main{
		padding: 0;
	}
}

.page__logo {
    display: inline-block;
}

.page__topnav {
    position: absolute;
    top: 20px;
    right: 1em;
}

.page__title h1 {
    color: #025c1f;
    text-transform: uppercase;
}

/* Scale down too wide images from the parsys */
.page__par img {
    width: 100%;
}

.page__copyright {
    margin-bottom: 0;
}
