<sly data-sly-use.inplay="inplay.js">
    <div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="In Play"></div>
    <div class=" js flexbox flexboxlegacy canvas canvastext webgl touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
        lang="en">

        <script>
            <!--

            window.__gwtStatsEvent && window.__gwtStatsEvent({
                moduleName: "JmsClient",
                sessionId: window.__gwtStatsSessionId,
                subSystem: "startup",
                evtGroup: "loadExternalRefs",
                millis: (new Date()).getTime(),
                type: "end"
            });
            window.__gwtStatsEvent && window.__gwtStatsEvent({
                moduleName: "JmsClient",
                sessionId: window.__gwtStatsSessionId,
                subSystem: "startup",
                evtGroup: "moduleStartup",
                millis: (new Date()).getTime(),
                type: "moduleRequested"
            });

            -->
        </script>

        <script src="//ec2-35-177-255-83.eu-west-2.compute.amazonaws.com/etc/designs/lc/components/inplay/F901C6966E635726917B38DBF9C34F59.js"></script>

        <script type="text/javascript">
            // set user prefs
            //if (sessionStorage) {
            //	sessionStorage.setItem("sports_pref", "110000009,110000006");
            //}

            var connectionWrapperObj = {};
            var configObj = ladbrokes.Config.USERPREF;

            // get user prefs
            var userLoggedIn = false;
            var userPrefs = sessionStorage.getItem("lb_userdata_ids");
            if (userPrefs) {
                var userPrefsJson = JSON.parse(userPrefs);
                configObj.setSelector(userPrefsJson.sports_pref);
                userLoggedIn = true;
            }

            //var configObj = ladbrokes.Config.SWINPROD;		//Environment config Object
            //var configObj = ladbrokes.Config.PROD;		//Environment config Object
            //var configObj = ladbrokes.Config.UAT;		//Environment config Object
            //var configObj = ladbrokes.Config.PERF;		//Environment config Object
            //var configObj = ladbrokes.Config.LEEDSUAT;		//Environment config Object
            main(configObj);
        </script>

        <div class="se-pre-con"></div>

        <div class="main-div ${inplay.brand}">

            <header id="header">
                <div id="logo"><img src="/etc/designs/lc/components/inplay/inplay-icon.png" alt="inplay icon"><span class="lgo-txt">InPlay</span></div>
            </header>

            <!-- /Header -->
            <div id="tab-outer">
                <ul id="tab-wrapper">
                    <li id="allTab" class="active" style="background-color: rgb(118, 118, 118);"><a href="javascript:void(0);"><span class="tab-all">All</span></a></li>
                    <li id="footBallTab"><a href="javascript:void(0);"><span class="tab-f">Football</span></a></li>
                    <li id="tennisTab"><a href="javascript:void(0);"><span class="tab-tns">Tennis</span></a></li>
                    <li id="myBetsTab" style="display: none;"><a href="javascript:void(0);"><span class="tab-tns">My Bets</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <!-- /Menu -->
            <section>
                <div class="layer1">
                    <div id="inplay-content" class="txtfont">
                        <div class="empty-div"></div>
                        <div class="block" id="footBallContent">
                            <div class="title heading">
                                <h2 class="downarrow-img">FOOTBALL</h2>
                            </div>
                            <div class="content" id="footBall"></div>
                        </div>
                        <div class="block" id="tennisContent">
                            <div class="title heading">
                                <h2 class="downarrow-img">TENNIS</h2>
                            </div>
                            <div class="content" id="tennis"></div>
                        </div>
                        <div class="block" id="myBetsContent" style="display: none;">
                            <div class="title heading">
                                <h2 class="downarrow-img">BET HISTORY</h2>
                            </div>
                            <div class="content" id="myBetsHistory">
                                <div class="content">
                                    <div onclick="toogleClick(this); " class="subTitle heading">
                                        <h3>Bet History</h3><span class="minus-img"></span>
                                    </div>
                                    <div class="content ">

                                    </div>
                                </div>
                            </div>

                            <div class="title heading">
                                <h2 class="downarrow-img">BET INTERESTS</h2>
                            </div>
                            <div class="content" id="myBetsInterests">
                                <div class="content">
                                    <div onclick="toogleClick(this); " class="subTitle heading">
                                        <h3>Bet Interests</h3><span class="minus-img"></span>
                                    </div>
                                    <div class="content ">

                                    </div>
                                </div>
                            </div>

                            <div class="title heading">
                                <h2 class="downarrow-img">RECOMMENDED BETS</h2>
                            </div>
                            <div class="content" id="myBetsRecommended">
                                <div class="content">
                                    <div onclick="toogleClick(this); " class="subTitle heading">
                                        <h3>Recommended Bets</h3><span class="minus-img"></span>
                                    </div>
                                    <div class="content ">

                                    </div>
                                </div>
                            </div>

                            <div class="title heading">
                                <h2 class="downarrow-img">TOP BETS</h2>
                            </div>
                            <div class="content" id="myBetsTop">
                                <div class="content">
                                    <div onclick="toogleClick(this); " class="subTitle heading">
                                        <h3>Top Bets</h3><span class="minus-img"></span>
                                    </div>
                                    <div class="content ">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="myBetsFavourites" style='display: none'>
                        <div class="title heading">
                            <h2 class="downarrow-img">FAVOURITES</h2>
                        </div>
                        <div class="content">
                            <div onclick="toogleClick(this); " class="subTitle heading">
                                <h3>Favourite Bets</h3><span class="minus-img"></span>
                            </div>
                            <div class="block" id="footBallContent">
                                <div class="title heading">
                                    <h2 class="downarrow-img">FOOTBALL</h2>
                                </div>
                                <div class="football content" id="footBall">
                                    <div class="content clear">
                                        <table class="tblGrid">
                                            <tbody class="contentInner">
                                                <tr>
                                                    <th>&nbsp; </th>
                                                    <th> TIME </th>
                                                    <th> EVENT </th>
                                                    <th class="th-space"> H </th>
                                                    <th class="th-space"> D </th>
                                                    <th class="th-space"> A </th>
                                                    <th class="th-space">FAVS</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="block" id="tennisContent">
                                <div class="title heading">
                                    <h2 class="downarrow-img">TENNIS</h2>
                                </div>
                                <div class="tennis content" id="tennis">
                                    <div class="content clear">
                                        <table class="tblGrid">
                                            <tbody class="contentInner">
                                                <tr>
                                                    <th>&nbsp; </th>
                                                    <th> TIME </th>
                                                    <th> EVENT </th>
                                                    <th class="th-space"> ODDS </th>
                                                    <th class="th-space"> FAVS </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="buttons">
                        <div class="bet-count">0</div>
                        <div><input value="BET NOW" class="btn_lg" type="button">
                            <input value="CLEAR BETS" class="btn_lg-cb" type="reset">
                        </div>
                    </div>
                </div>
            </section>
            <div id="overlay_form" style="display:none">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // show 'my bets' tab if logged in
        if (userLoggedIn) {
            $('#myBetsTab').show();
            getBetHistory("//ec2-35-177-255-83.eu-west-2.compute.amazonaws.com/etc/designs/lc/components/inplay/bet-history.json");
        }

        // reorder sports tabs and content (Tennis first if user prefers this)
        if (configObj.classKeys[0] == '110000009') {

            var reorderElems = ["tab-wrapper", "inplay-content"];

            reorderElems.forEach(function(i) {
                var wrapper = document.getElementById(i);
                var divs = wrapper.children;
                divs[2].parentNode.insertBefore(divs[2], divs[1]); // order: All, Tennis, Football
            });
        }
    </script>
    </div>
</sly>