/*
 *  Copyright 2015 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    background-color: none;
}

a {
    text-decoration: none;
    color: #025c1f;
}
a:hover {
    text-decoration: underline;
}

img {
    vertical-align: top;
}
